---
main: foo, bar, qaz
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
  <head>
    {% include meta.html %}
    {% include styles.html %}
    {% if site.google_analytics_ua or site.dap_agency %}
      {% include analytics.html %}
    {% endif %}
  </head>
  <body class="{{ layout.class }} {{ page.class }} {% if site.site_width %}site-{{ site.site_width }}{% endif %}">

    {% include skipnav.html %}
    {% include header.html %}

    {% assign hero = page.hero %}
    {% include components/hero.html %}

<!-- 
  Carousel for dynamic data
 -->
 {% include carousel.html height="35" unit="%" duration="7" %}

    {% capture _graphics %}
      {% include graphic-list.html graphics=page.graphics %}
    {% endcapture %}

    {% if page.graphics_position != 'after' %}
      {{ _graphics }}
    {% endif %}

    {% if page.layout == 'post' %}
      {{ content }}
    {% else %}
      <main id="main-content"{% for _attr in layout.main %} {{ _attr[0] }}="{{ _attr[1] }}"{% endfor %}>
        {{ content }}
      </main>
    {% endif %}

    {% if page.graphics_position == 'after' %}
      {{ _graphics }}
    {% endif %}

    {% include footer.html %}

    {% include scripts.html %}

  </body>
</html>
